body {
    background-color: azure;

}
    
#jumbo-tron {

   padding: 50px;
   margin: 20px;
}

h1 {
   font-family: plafair-dsiplay;
}

h2 {
    font-family: Playfair-Display;
}

#skills-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

