body {
    background-color: purple;


}

.navbar {

    background-color: rgb(247, 215, 173);
}

#nav-bar {

    background-color: rgb(252, 201, 92);
}

.navbar-brand {
    font-size: 48pt;
}

nav {

     display: flex;
}

    
#jumbo-tron {

   display: flex;
   padding: 50px;
   margin: 20px;
   border-radius: 8px;
   justify-content: center;
   border: solid 10px beige;
  
}

.profile-pic {

  justify-content: center;

}

h1 {
   font-family: caprasimo;
}

h2 {
    font-family: Playfair-Display;
}

#skills-card {
    background-color: rosybrown;
    margin-left: 50px;
    margin-top: 50px;
    border: solid 10px rosybrown;
}

#line-1 {
    justify-content: center;
}

#line-2 {
    justify-content: space-around;
   margin-left: 50px;
}

.card {
    border-radius: 0px;
}

#footer {

    border-radius: 8pxs;
}