body {
    background-color: rgb(245, 241, 214);


}

.navbar {

    margin-top: 20px;
    background-color: rgb(245, 241, 214) !important;
}

#nav-bar {

    position: fixed !important; 
    background-color: rgb(245, 241, 214);
     z-index: 99; 
    margin-top: 50px;
    width: 97%;

}



.navbar-brand {
    font-family: caprasimo;
    color: rgb(8, 41, 8);
    margin-left: 80px;
    font-size: 40pt;
 }
 
 .nav-link {

    font-family: josefin sans;
    font-size: 22pt;
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
    margin-right: 30px;
    margin-left: 20px;
    color: rgb(67, 66, 66);
 }
    
#jumbo-tron {

   display: flex;
   padding: 50px;
   margin: 40px;
   border-radius: 0px;
   justify-content: center;
   background-color: rgb(153, 234, 113) !important;
   
}

h2 {
    font-family: josefin sans;
    font-size:70pt
}

.intro {
    font-family: josefin sans;
    font-size: 30pt;
}

a {
    font-family: josefin sans;
}

h3 {
    font-family: caprasimo;
    margin-left: 80px;
    margin-top: 30px;
    font-size: 60pt;
    color: rgba(77, 0, 0, 0.884);
    
}

#skills-card {
    background-color: rgb(245, 241, 214);
    margin-left: 50px; 
    padding:10px;
    border: solid 10px rgb(245, 241, 214);
    border-radius: 0px;
    
} 

#line-1 {
    justify-content: center;
    height: 50%;
}

.card-body {

    background-color: rgb(245, 241, 214);
    --bs-card-border-color: rgb(254, 241, 214) !important;
}

#line-small {

   margin-left: 40px;
   margin-right: -10px;
   margin-top: 30px;
   justify-content: center;

}

.card {
    border-radius: 0px;
}

.card-text {

    font-family: josefin sans;
}

#contact {

    background-color: rgb(245, 241, 214) !important ;
    width:100%;
    display: flex;
}

h4 {
    font-family: caprasimo;
    margin-left: 60px;
    margin-top: 30px;
    font-size: 42pt;
    color: rgba(77, 0, 0, 0.884);
    display: inline;
}

.link-bar {
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-around;

}

.contact-links {
  
    margin-left: 50px;
    font-family: josefin sans;
    font-size: 18pt;
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
    margin-right: 30px;
    margin-left: 20px;
    color: rgb(67, 66, 66);
}